app-main-layout {
  .DrawerMobileView {
    width: 295px !important;
  }

  .sidebar-nav-items {
    padding: 14px 16px;
  }

  .router-link-active {
    text-decoration: underline
  }

  .logo {
    height: 80px;

    @media (max-width:800px) {
      height: 60px;
    }
  }

  .profileImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }


}
