<mat-sidenav-container class="CustomDrawer" fullscreen>
  <mat-sidenav class="DrawerMobileView" [opened]="false" mode="over" #start>
    <!-- <button mat-icon-button color="warn" class="close" (click)="start.close()">
      <mat-icon color="warn">close</mat-icon>
    </button> -->
    <mat-toolbar id="topBarSidebar" class="mat-elevation-z2">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
        <span class="mat-title mb-0">{{'Your multimedia'|translate}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="sidebar-nav-items" fxLayout="column" fxLayoutAlign="start stretch">
      <app-sidebar *ngFor="let item of navItems" [item]="item"></app-sidebar>
    </div>
  </mat-sidenav>
  <mat-toolbar class="main-topbar">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="top-bar">

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
        <div fxHide.gt-sm>
          <button mat-icon-button (click)="start.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <img class="logo" src="../../../assets/images/nexflix-logo-removebg-preview.png" />

        <div fxHide fxShow.gt-sm fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" mat-button class="mat-button">{{'Home'|translate}}</a>
          <a [routerLink]="['/#']" routerLinkActive="router-link-active" mat-button class="mat-button">{{'Programs'|translate}}</a>
          <a [routerLink]="['/#']" routerLinkActive="router-link-active" mat-button class="mat-button">{{'Movies'|translate}}</a>
          <a [routerLink]="['/#']" routerLinkActive="router-link-active" mat-button class="mat-button">{{'Most recent'|translate}}</a>
          <a [routerLink]="['/#']" routerLinkActive="router-link-active" mat-button class="mat-button">{{'My list'|translate}}</a>
        </div>


      </div>

      <div class="ml-auto" fxLayout="row" fxLayoutAlign="start center">

        <button class="mx-2" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>

        <a class="mx-2" mat-icon-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
          <img [src]="flag.image" width="18">
          <!-- <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{flag.name}}</span> -->
          <mat-icon fxHide fxShow.gt-sm class="mat-icon-sm caret cur-icon">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
          <span>
            <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
              <img [src]="flag.image" width="18"> {{flag.name}}
            </button>
          </span>
        </mat-menu>


        <div>
          <a mat-button ngClass.lt-sm="px-0" [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
            <img class="profileImage" *ngIf="true" src="../../../../assets/images/users/profile2.png">
            <!-- <img *ngIf="this.loggedInUser.avatar" [src]="urlImage + loggedInUser.avatar" class="profileImage"> -->
            <span fxShow="false" fxShow.gt-sm class="flag-menu-title mx-2">{{'jalejandro@gmail.com'}}
            </span>
            <mat-icon class="mat-icon-sm caret cur-icon">arrow_drop_down</mat-icon>
          </a>
          <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before">
            <button mat-menu-item (click)="onShowProfile()">
              <mat-icon>build</mat-icon>
              <span class="mat-body-1">{{'Profile'|translate}}</span>
            </button>
            <button mat-menu-item (click)="onGotoBackend()">
              <mat-icon>edit</mat-icon>
              <span class="mat-body-1">{{'Backoffice'|translate}}</span>
            </button>

            <button mat-menu-item (click)="onChangePass()">
              <mat-icon>settings</mat-icon>
              <span class="mat-body-1">{{'Change your pass'|translate}}</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              <span class="mat-body-1">{{'Logout'|translate}}</span>
            </button>
          </mat-menu>
        </div>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>




  <router-outlet></router-outlet>

  <app-footer></app-footer>


</mat-sidenav-container>
