@import "../../../../../assets/scss/theme/variables";
@import "src/assets/scss/mixins/breakpoints";

app-admin-list-product {
  padding: 16px 0px;

  @include media-breakpoint("xs") {
    padding: 16px 0px !important;
  }

  mat-toolbar-row {
    background-color: transparent !important;
  }

  mat-toolbar {
    background-color: transparent !important;
  }

  select {
    /* margin: 50px; */
    width: 180px;
    max-width: 220px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: none;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;

    cursor: pointer;
    background: url(/assets/images/dropdown.png) no-repeat 90%;
  }



  .product-card {
    width: 300px;
    transition: .5s;
    margin: 16px;

    &:hover {
      transform: translateY(-10px);
      background-color: $theme-main;
      border-radius: 8px;

      #imageContent {
        background-color: #fff;
        border-radius: 8px;
        transition: .5s;
      }

      .mat-card-subtitle {
        color: #fff
      }

      color: #fff;
    }

    @include media-breakpoint("lt-md") {
      width: 280px;
    }
  }



  .imageProduct {
    height: 200px;
    width: auto;
    margin: auto !important;

  }

  .module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }

  .line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    line-height: 1.4rem;
    height: 2.8rem;
  }

  #AddBtn {
    position: fixed;
    right: 32px;
    bottom: 32px;

    @include media-breakpoint("lt-md") {
      right: 16px;
      bottom: 16px;
    }

  }

}

// #add-button {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   padding: 0;
//   z-index: 99;

//   @include media-breakpoint('xs') {
//     position: sticky;
//     top: calc(100vh - 72px);
//     bottom: auto;
//   }
// }
