<div class="loading-shade-full" style="background:rgba(0, 0, 0, 0.02) !important;" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
</div>
<div class="container">

  <!-- <mat-toolbar>
    <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterProduct">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span class="mat-title mb-0">{{'Lista de productos'}}</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar> -->
  <div fxLayout="row" ngClass.gt-sm="mt-4" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1">
    <span fxHide.xs class="mat-title mb-0">{{'Lista de productos'}}</span>
    <span fxHide fxShow.xs class="mat-title mb-0">{{'Productos'}}</span>
    <div>
      <select style="width: 195px !important;" (change)="onChangeSorting($event.target.value)">
        <option value="name">{{"Alfabético, A-Z"}}</option>
        <option value="-name">{{"Alfabético, Z-A"}}</option>
        <option value="price">{{"Precio, Dec"}}</option>
        <option value="-price">{{"Prrecio, Asc"}}</option>
      </select>

    </div>
    <!-- <div>
      <button mat-icon-button>
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>view_module</mat-icon>
      </button>
    </div> -->
  </div>

  <div *ngIf="allProducts.length" fxLayout="row wrap" class="w-100 py-2" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center start"
    fxLayoutGap="gappx">
    <mat-card *ngFor="let product of allProducts" class="product-card">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.Brand.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <div id="imageContent" class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <img class="imageProduct" appLazyLoad *ngIf="product.Image && product.Image.length " [src]="imageUrl + product.Image[0].image"
          alt="">
        <img class="imageProduct" appLazyLoad *ngIf="!(product.Image && product.Image.length)" src="../../../../assets/images/noImage.jpg"
          alt="">
      </div>

      <mat-card-content>
        <p class="module line-clamp mt-2">
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <button matTooltip="{{'Editar el producto'}}" *ngIf="product.status == 'published'" (click)="onEditProduct(product)"
          mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="{{'Terminar de crear el producto'}}" *ngIf="product.status == 'creating'"
          (click)="onFinishCreatingProduct(product)" mat-icon-button>
          <mat-icon>add_to_queue</mat-icon>
        </button>
        <button matTooltip="{{'Eliminar el producto'}}" (click)="onRemoveProduct([product])" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!allProducts.length" style="padding:32px 0px" fxLayout="column" fxLayoutAlign="center center">

    <img src="../../../../../assets/images/empty.svg" alt="Empty" style="height: 160px; width: 160px;">
    <h1 class="text-muted mt-3">
      Tu lista de productos está vacía
    </h1>

  </div>


</div>
<a [routerLink]="[ '/backend/product/create-product']" id="AddBtn" mat-fab color="primary">
  <mat-icon>
    add
  </mat-icon>
</a>
