<div class="loading-shade-full" style="background:rgba(0, 0, 0, 0.02) !important;" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
</div>
<div class="container">
  <mat-card class="p-1" style="border-radius: 8px;">
    <mat-toolbar>
      <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterCarrusel">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <span class="mat-title mb-0">{{'Lista de carruels'}}</span>
          <div fxHide.xs>
            <button mat-button (click)="showSearchForm()">
              <mat-icon>search</mat-icon>
              <span fxHide.xs>{{'Search'}}</span>
            </button>
            <button mat-button (click)="refreshData()">
              <mat-icon>refresh</mat-icon>
              <span fxHide.xs>{{'Refrescar'}}</span>
            </button>
            <button mat-button (click)="onCreateCarrusel()">
              <mat-icon>add</mat-icon>
              <span fxHide.xs>{{'Adicionar'}}</span>
            </button>
          </div>
          <div fxHide fxShow.xs>
            <button mat-icon-button (click)="showSearchForm()">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button (click)="refreshData()">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="onCreateCarrusel()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="showFilterCarrusel && !selection.selected.length">
        <form class="example-full-width" [formGroup]="searchForm">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <button mat-icon-button>
              <mat-icon matPrefix>search</mat-icon>
            </button>
            <input [formControl]="searchForm.controls['textCtrl']" placeholder="{{'Entre su texto de búsqueda'}}"
              class="example-full-width search-input" type="text" autofocus>
            <div>
              <button mat-icon-button (click)="hideSearchForm()">
                <mat-icon aria-label="Cerrar">close</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="selection.selected.length">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <div>
            <span fxHide.xs class="mat-title mb-0">{{selection.selected.length}}</span>
            <span fxHide.xs class="ml-2 mat-title mb-0">{{'selected elements'}}</span>
          </div>
          <div>
            <button *ngIf="selection.selected.length==1" mat-button (click)="onEditCarrusel(selection.selected[0])">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
              <span fxHide.xs>{{'Edit'}}</span>
            </button>
            <button mat-button (click)="onRemoveCarrusels(selection.selected)">
              <mat-icon aria-label="Remove">remove</mat-icon>
              <span fxHide.xs>{{'Remove'}}</span>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="responsive_table">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <th style="width: 8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" fxLayoutAlign="start start">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div fxLayout="column" fxLayoutAlign="start start">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </div>

          </td>
        </ng-container>



        <ng-container matColumnDef="image">
          <th style="width: 30%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Image'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <img *ngIf="!element.image" src="../../../../../../assets/images/product/defaultProduct.png"
              style="width: auto;height: 80px; object-fit: cover;">
            <img *ngIf="element.image" [src]="imageUrl + element.image"
              style="width: auto;height: 80px; object-fit: cover;">
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th style="width:12%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Title' }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2"> {{utilsService.parserLanguage(element.title,language)}}</span>

          </td>
        </ng-container>

        <ng-container matColumnDef="subtitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm>
            <span class="mat-body-2">{{'Subtitle'}}</span>
          </th>
          <td mat-cell *matCellDef="let element" fxHide.lt-sm>
            <span class="mat-body-2">{{utilsService.parserLanguage(element.subTitle,language)}}</span>
        </ng-container>

        <ng-container matColumnDef="link">
          <th style="width: 12%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Link'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <a [href]="element.link" target="_blank">{{element.link}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Date'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.updatedAt|date:'shortDate'}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="isActivate">
          <th style="width:8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Status'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <button matTooltip="{{'Mark this product as active'}}" mat-icon-button *ngIf="!element.isActive"
              (click)="onMarkAsActiveBanner(element)">
              <mat-icon style="color: #ff9800;">hourglass_empty</mat-icon>
            </button>
            <button (click)="onMarkAsActiveBanner(element)" matTooltip="{{'Unmark this product as inactive'}}"
              mat-icon-button *ngIf="element.isActive">
              <mat-icon style="color: #4caf50;">check</mat-icon>
            </button>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="actions">
          <th style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef mat-sort-header>
          </th>
          <td mat-cell *matCellDef="let element">
            <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
              <button (click)="onEditCarrusel(element)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="onRemoveCarrusels([element])" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="rowData" *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>

  </mat-card>


</div>
