<div fxLayout="column" fxLayoutAlign="start stretch" class="mt-2 p-2 ">
  <div fxLayout="column" fxLayoutAlign="start start" class="mb-2">
    <span class="color-grey-700">{{'Photos of the product' }}</span>
    <span *ngIf="!productImages.length" class="mat-caption color-grey-600">
      {{'Upload at least 1 photo. You will be able to include more at the end of the registration.' }}</span>
    <span *ngIf="productImages.length" class="mat-caption color-grey-600">
      {{'Great, thank you! Once registered you can add more photos.' }}</span>
  </div>
  <div fxLayout="row layout-wrap" fxLayoutAlign="start start" class="upload-image-container" cdkDropList
    (cdkDropListDropped)="dropProductImages($event)">
    <div *ngFor="let image of productImages; let i=index" fxLayout="column" fxLayoutAlign="start stretch"
      class="item-upload-image-container mat-elevation-z2 ml-2 my-2" cdkDrag>
      <div class="item-upload-image" *ngIf="!image.id" [style.background-image]="this.utilsService.getSafeImage(image.image)">
        <span class="main-picture-label" *ngIf="image.isMain">{{'main picture'}}</span>
      </div>
      <div class="item-upload-image" *ngIf="image.id"
        [style.background-image]="this.utilsService.getSafeImage(urlProductImage + image.image)">
        <span class="main-picture-label" *ngIf="image.isMain">{{'main picture'}}</span>
      </div>
      <div class="item-upload-image" *ngIf="image.id && image.update" [ngStyle]="{ 'background-image': urlImage + image.Image.image + ')'}">
        <span class="main-picture-label" *ngIf="image.isMain">{{'main picture'}}</span>
      </div>
      <div class="background-color-white">
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <button mat-icon-button (click)="onRotateImage(-90, productImages[i])">
            <mat-icon aria-label="rotate_left" class="color-grey-700">rotate_left</mat-icon>
          </button>
          <button mat-icon-button (click)="onRotateImage(90, productImages[i])">
            <mat-icon aria-label="rotate_right" class="color-grey-700">rotate_right</mat-icon>
          </button> -->
          <button mat-icon-button (click)="onDeleteImage(image,i)">
            <mat-icon aria-label="delete" class="color-grey-700">delete_outline</mat-icon>
          </button>
          <button mat-icon-button *ngIf="!image.isMain" (click)="onMarkasMainImage(image)">
            <mat-icon class="color-grey-700">star_border</mat-icon>
          </button>
          <button mat-icon-button *ngIf="image.isMain">
            <mat-icon style="color:#ffeb3b !important">star</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div style="border:2px solid #fafafa;border-radius: 4px;">
    <image-upload (uploadFinished)="onUploadFinished($event)" [clearButtonCaption]="'Borrar'" [preview]="false" [maxFileSize]="1048576"
      [fileTooLargeMessage]="'Image too large!'" [buttonCaption]="'AGREGAR FOTOS' " [dropBoxMessage]="'Arrastra fotos aquí o' "
      [extensions]="['jpg','png', 'jpeg','gif']">
    </image-upload>

  </div>

</div>
