@import "../../../../../assets/scss/theme/variables";




// ***********styling image-upload********
.img-ul-upload {
  background-color: $theme-main !important;
  float: right !important;
  border-radius: 4px;
}

.img-ul-clear {
  display: none !important;
  float: right !important;
}

.upload-image-container {
  margin-bottom: 20px;
  display: flex;
}

.item-upload-image {
  position: relative;
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  flex: none !important;
}

.item-upload-image-container {
  padding: 5px;
  cursor: move;
  display: flex;
  // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //   0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //   0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-upload-image-container:last-child {
  border: none;
}

.upload-image-container.cdk-drop-list-dragging .item-upload-image-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.main-picture-label {
  background-color: $amber-500 !important;
  position: absolute;
  right: 0;
  padding: 7px;
}



// **************************************
