app-list-tags-blog {
  padding: 0px 0px;

  .example-chip-list {
    width: 100%;
  }



  #ChipContainer2 {
    width: 100% !important;

    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 .75em 0 .75em;
      margin-top: -.25em;
      position: relative;
      min-height: 100px !important;
    }

  }


  .car-chip {
    mat-chip {
      height: 32px !important;
    }
  }

  .mat-chip.mat-standard-chip {
    height: 32px !important;
    padding-left: 12px !important;
  }


}
