<div fxLayout="row" id="ChipContainer2" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <mat-form-field fxFlex="100" class="example-chip-list" appearance="outline">
    <mat-chip-list #chipList aria-label="Tags selection">
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="{{'Nueva etiqueta...'}}" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</div>
