/***************************************
*  Home footer-2 section styles
****************************************/
@import "../../../assets/scss/theme/variables";

.footer-two {
  background: $theme-accent;

  .footer-widget {
    padding-right: 15px;

    .social {
      margin-top: 20px;

      li {
        // width: 33px;
        // height: 33px;
        // border: 1px solid $grey3;
        // border-radius: 50%;
        text-align: center;
        margin-right: 5px;

        a {
          color: #fff;

          i {
            color: $theme-main;
          }
        }

      }
    }

    .ped-btn-footer {
      border: 1px solid $theme-accent;
      color: #fff !important;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      margin-top: 20px;
      padding: 0px 10px;
      text-align: center;
      text-transform: uppercase;
      transition: all 0.4s ease 0s;
      z-index: 222;
      background: $theme-accent;
      width: 100%;
      border-radius: 3px;
      line-height: 45px;
    }

    .title {
      margin-bottom: 10px;

      h5 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
      }
    }

    a {
      text-decoration: none;
      font-size: 15px;
      line-height: 32px;
      color: #fff;
    }


    .newsletter-widget {
      position: relative;
      margin: 15px 0 20px 0;
    }

    p {
      line-height: 24px;
      color: $grey-light;
    }

    ul {
      list-style-type: none;
    }

    .about-widget {
      .logo {
        img {
          max-width: 240px;
        }
      }
    }

    .tel-box {
      .icon {
        i {
          color: $theme-main;
          display: block;
          line-height: 27px;
          vertical-align: middle;
          margin-right: 5px;
          width: 18px;
          text-align: center;
          font-size: 18px;
        }
      }

      .text {
        p {
          a {
            line-height: 22px;
          }

        }
      }
    }
  }

  .subscribe-widget {
    input {
      height: 45px;
      background: $white;
      font-size: 15px;
      line-height: 45px;
      border: 1px solid $white-dark;
      border-radius: 4px;
      padding: 0 65px 0 20px;
      color: $grey;
    }
  }
}
