@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";

/***************************************
*  Blog- column page styles
****************************************/
:host {
  padding-left: 36px;
  padding-right: 36px;

  @include media-breakpoint('lt-md') {
    padding-left: 0px;
    padding-right: 0px;
  }

  #actionsBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.blog-list-wrapper {

  .single-blog-list {
    margin-bottom: 80px;

    .image-box {
      overflow: hidden;
      padding-right: 10px;

      img {
        max-height: 450px;
        width: auto;
        object-fit: cover;
        object-position: center;
      }

      ////////////////////////////////////////////////
      .hide-style {
        display: none;
      }

      .avatar-profile {
        position: relative;
        height: 400px;
        width: 640px;

        @include media-breakpoint('lt-md') {
          height: 250px;
          width: 320px;
        }

        border-radius: 4px;
        flex: none !important;
        background-color: #f5f5f5;
        color: #bdbdbd;
        border: 2px solid rgba(0, 0, 0, .22) !important;

        .avatar-icon {
          font-size: 250px;
          height: 250px;
          width: 250px;
          color: #bdbdbd;

          @include media-breakpoint('lt-md') {
            font-size: 150px;
            height: 150px;
            width: 150px;
          }

        }

        #photoCameraBtn {
          opacity: 0;

          mat-icon {
            font-size: 30px;
            height: 30px;
            width: 30px;
          }
        }

        &:hover {
          #photoCameraBtn {
            opacity: 1.0;
            transition: opacity .5s ease;
          }
        }

        button {
          position: absolute;
        }
      }

      /////////////////////////////////////////////////
    }

    .text-box {
      margin-top: 10px;

      .text-field {
        max-width: 40rem !important;
      }

      h4 {
        font-size: 24px;
        margin-bottom: 7px;
      }

      p {
        line-height: 26px;
        margin-top: 16px;
      }

      ul {

        li {
          margin-right: 7px;
          font-size: 14px;

          i {
            color: $theme-main;
            font-size: 20px;
            line-height: 29px;
            vertical-align: middle;
            margin-right: 3px;
          }
        }
      }
    }
  }


}
