<div fxLayout="row" id="ChipContainer2" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" class="example-chip-list" appearance="outline">
    <mat-chip-list #chipList aria-label="Tags selection">
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="{{'New tag...'}}" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</div>
