app-list-tags-product {
  padding: 10px 0px;

  .example-chip-list {
    width: 100%;
  }



  #ChipContainer2 {
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 .75em 0 .75em;
      margin-top: -.25em;
      position: relative;
      min-height: 100px !important;
    }

  }


}
