<div class="container">
  <mat-card class="p-1" style="border-radius: 8px;">
    <mat-toolbar>
      <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterBrand">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <span class="mat-title mb-0">{{'Lista de marcas'}}</span>
          <div fxHide.xs>
            <button mat-button (click)="showSearchForm()">
              <mat-icon>search</mat-icon>
              <span fxHide.xs>{{'Buscar'}}</span>
            </button>
            <button mat-button (click)="refreshData()">
              <mat-icon>refresh</mat-icon>
              <span fxHide.xs>{{'Refrescar'}}</span>
            </button>
            <button mat-button (click)="onCreateBrand()">
              <mat-icon>add</mat-icon>
              <span fxHide.xs>{{'Adicionar'}}</span>
            </button>
          </div>
          <div fxHide fxShow.xs>
            <button mat-icon-button (click)="showSearchForm()">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button (click)="refreshData()">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="onCreateBrand()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="showFilterBrand && !selection.selected.length">
        <form class="example-full-width" [formGroup]="searchForm">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <button mat-icon-button>
              <mat-icon matPrefix>search</mat-icon>
            </button>
            <input [formControl]="searchForm.controls['textCtrl']" placeholder="{{'Entre su texto de búsqueda'}}"
              class="example-full-width search-input" type="text" autofocus>
            <div>
              <button mat-icon-button (click)="hideSearchForm()">
                <mat-icon aria-label="Cerrar">close</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="selection.selected.length">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <div>
            <span fxHide.xs class="mat-title mb-0">{{selection.selected.length}}</span>
            <span fxHide.xs class="ml-2 mat-title mb-0">{{'elementos seleccionados'}}</span>
          </div>
          <div>
            <button *ngIf="selection.selected.length==1" mat-button (click)="onEditBrand(selection.selected[0])">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
              <span fxHide.xs>{{'Edit'}}</span>
            </button>
            <button mat-button (click)="onRemoveBrand(selection.selected)">
              <mat-icon aria-label="Remove">remove</mat-icon>
              <span fxHide.xs>{{'Borrar'}}</span>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="responsive_table">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" fxLayoutAlign="start start">
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div fxLayout="column" fxLayoutAlign="start start">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Imagen'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <img *ngIf="element.image" [src]="imageUrl + element.image" style="width: 40px;height: 40px; object-fit: cover;">

            <img *ngIf="!element.image" src="../../../../../../assets/images/brands/brand-1.png"
              style="width: 40px;height: 40px; object-fit: cover;">
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Nombre' }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2"> {{element.name}}</span>
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="model">
          <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Model' }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2">
              {{utilsService.parserLanguage(element.model,language)}}</span>
          </td>
        </ng-container> -->
        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Decripción' }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.description}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="actions">
          <th style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef mat-sort-header>
          </th>
          <td mat-cell *matCellDef="let element">
            <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
              <button (click)="onEditBrand(element)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="onRemoveBrand([element])" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row class="rowData" *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>

  </mat-card>


</div>
