<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span class="mat-title mb-0">{{'Adicionar categoría'}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <!-- <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'Select your creation language'}}
            <mat-icon matTooltip="{{'Default is Spanish'}}" class="iconHelp">help</mat-icon></span>
        </div>

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label> {{'Language'}}</mat-label>
            <mat-select [compareWith]="compareFn" required [formControl]="languageForm"
              placeholder="{{'Language'}}">
              <mat-option *ngFor="let language of this.languages;let i=index" [value]="language">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img [src]="language.image" style="height: 30px; width: 30px;">
                  <span class="ml-2 mat-body-2">
                    {{language.name}}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider class="mb-2"></mat-divider> -->


        <mat-form-field appearance="outline">
          <mat-label>{{'Nombre'}}</mat-label>
          <input required type="text" [formControl]="form.controls['name']" matInput placeholder="{{'Name'}}">
          <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            {{'Nombre'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'Descripción'}}</mat-label>
          <textarea required rows="3" matInput [formControl]="form.controls['description']"
            placeholder="{{'Descripción'}}"></textarea>
          <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
          <mat-error *ngIf="form.controls['description'].hasError('required')">
            {{'Descripción'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field>
<!--
        <mat-form-field appearance="outline">
          <mat-label>{{'Category parent'}}</mat-label>
          <mat-select placeholder="{{'Category parent'}}" [formControl]="form.controls['ParentCategoryId']">
            <mat-option *ngFor="let category of this.Categories" [value]="category.id">
              <span>
                {{(category.name && category.name[language]?category.name[language]:category.name['es'])}}
              </span>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['ParentCategoryId'].hasError('required')">
            {{'Category'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field> -->

      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid" color="primary">{{'Guardar'}}</button>

  </div>

</div>
