<div class="container">
  <mat-progress-bar color="accent" mode="determinate" value="{{getProgress()}}">
  </mat-progress-bar>
  <mat-horizontal-stepper [selectedIndex]="stepIndex" (selectionChange)="onSlectionChange($event)" labelPosition="bottom" [linear]="'true'"
    #stepper>
    <mat-step [stepControl]="this.BasicInfo">
      <form [formGroup]="this.BasicInfo">
        <ng-template matStepLabel>{{'INFO. BÁSICA'}}</ng-template>
        <div fxLayout="column" class="SteeperLayout" fxLayoutAlign="start stretch" fxLayoutGap="gappx">


          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2 uppercase">{{'Nombre del producto'}}</span>
          </div>

          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline">
              <mat-label>{{'Nombre'}}</mat-label>
              <input matInput placeholder="{{'Nombre'}}" [formControl]="this.BasicInfo.controls['name']">
              <mat-icon class="greyIcon" matSuffix>add_shopping_cart</mat-icon>
              <mat-error *ngIf="BasicInfo.controls['name'].hasError('required')">
                {{'Producto'}} <strong>{{'is required'}}</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2 uppercase">{{'Describe el producto'}}</span>
          </div>

          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline" appearance="outline">
              <mat-label>{{'Descripción'}}</mat-label>
              <textarea rows="5" matInput [formControl]="BasicInfo.controls['description']" placeholder="{{'Descripción'}}"></textarea>
              <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
              <mat-error *ngIf="BasicInfo.controls['description'].hasError('required')">
                {{'Descripción'}} <strong>{{'is required'}}</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2 uppercase">{{'Seleccione la marca del producto'}}</span>
          </div>

          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline">
              <mat-label> {{'Marca'}}</mat-label>
              <mat-select [formControl]="this.BasicInfo.controls['BrandId']" placeholder="{{'Marca'}}">
                <mat-option *ngFor="let brand of this.Brands;let i=index" [value]="brand.id">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <img *ngIf="brand.image" [src]="imageUrl + brand.image" style="width: auto;height:32px" alt="">
                    <span style=" text-transform:capitalize !important; margin-left:16px !important;">
                      {{(brand.name)}}
                    </span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2 uppercase">{{'Seleccione las categorías a las que pertenece'}}</span>
          </div>

          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline">
              <mat-label> {{'Categoría'}}</mat-label>
              <mat-select multiple [formControl]="this.BasicInfo.controls['CategoryIds']" placeholder="{{'Categoría'}}">
                <mat-option *ngFor="let category of this.Categories;let i=index" [value]="category.id">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span style=" text-transform:capitalize !important; ">
                      {{(category.name)}}
                    </span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-divider class="mt-2 w-60" ngClass.lt-md="w-80" ngClass.xs="w-100"></mat-divider>

          <div fxLayout="row wrap" class="mt-2 w-100" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
            <div fxLayout="column" fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
              <span class="mat-body-2 mb-2" style="text-transform: uppercase;">{{'Precio regular'}}
                <mat-icon matTooltip="{{'Item’s normal/regular price'}}" class="iconHelp">help</mat-icon>
              </span>
              <mat-form-field appearance="outline">
                <mat-label>{{'Precio'}}</mat-label>
                <input type="number" step=0.01 matInput placeholder="{{'Precio'}}" [formControl]="BasicInfo.controls['price']">
                <mat-icon class="greyIcon" matSuffix>attach_money</mat-icon>
                <mat-error *ngIf="BasicInfo.controls['price'].hasError('required')">
                  {{'Precio'}} <strong>{{'is required'}}</strong>
                </mat-error>
              </mat-form-field>

            </div>
            <!-- <div fxLayout="column" fxFlex="46" fxFlex.lt-md="100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
              <span class="mat-body-2 mb-2" style="text-transform: uppercase;">{{ 'Sale price'}}
                <mat-icon matTooltip="{{'Item’s discounted price that can then be scheduled for certain date ranges.
                           The sale expires at 11:59pm of the specified end date'}}" class="iconHelp">help
                </mat-icon>
              </span>
              <mat-form-field appearance="outline">
                <mat-label>{{'price'}}</mat-label>
                <input [readonly]="true" type="number" matInput placeholder="{{'price'}}"
                  [formControl]="BasicInfo.controls['salePrice']">
                <mat-icon class="greyIcon" matSuffix>attach_money</mat-icon>
                <mat-error *ngIf="BasicInfo.controls['salePrice'].hasError('required')">
                  {{'Product'}} <strong>{{'is required'}}</strong>
                </mat-error>
                <mat-hint><a
                    style="text-decoration: underline;font-family: 'Courier New', Courier, monospace;color:blue; cursor: pointer;">{{'Schedule'}}</a>
                </mat-hint>
              </mat-form-field>
            </div> -->
          </div>

          <div fxLayout="row" class="w-60 mt-3" ngClass.lt-md="w-80" ngClass.xs="w-100" fxLayoutAlign="end center" fxLayoutGap="gappx">
            <button [disabled]="this.BasicInfo.invalid" (click)="onSaveBasicProduct()" mat-raised-button
              color="primary">{{'GUARDAR'}}</button>
          </div>


        </div>

      </form>
    </mat-step>

    <mat-step [editable]="this.BasicInfo.valid" [completed]="imagesDataProduct.length>0">
      <ng-template matStepLabel>{{'IMÁGENES'}}</ng-template>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="gappx">
        <app-galery-images-product [ProductId]="(productCreated)?productCreated.id:null"
          (arrayImagesChanged)="onArrayImagesChanged($event)">
        </app-galery-images-product>
      </div>

      <div class="SteeperBtn">
        <button mat-stroked-button matStepperPrevious>{{'ATRÁS'}}</button>
        <button mat-raised-button class="ml-2" color="primary" matStepperNext>{{'SIGUIENTE'}}</button>
      </div>
    </mat-step>

    <!-- <mat-step [editable]="this.BasicInfo.valid && imagesDataProduct.length>0">
      <form>
        <ng-template matStepLabel>{{'RECOMENDED PRODUCTS'}}</ng-template>
        <div fxLayout="column" class="SteeperLayout" fxLayoutAlign="space-around stretch" fxLayoutGap="gappx">

          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2 mt-2">{{'SELECT THE RECOMENDED PRODUCTS'}}</span>
          </div>

          <app-recomended-products [language]="language" [productId]="(productCreated)?productCreated.id:null"
            [recomendedProducts]="recomendedProducts" [saveInternal]="false"
            ($recomendedProductChange)="onRecomendedProductChange($event)">
          </app-recomended-products>


          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2 mt-2">{{'SELECT TAGS FOR SEARCHING'}}
              <mat-icon matTooltip="{{'To improve the search, assign search tags related to the product.'}}"
                class="iconHelp">help
              </mat-icon>
            </span>
          </div>
          <app-list-tags-product [language]="language" [productId]="(productCreated)?productCreated.id:null"
            [tags]="tags" ($changeTags)="onChangeTags($event)">
          </app-list-tags-product>

        </div>

      </form>

      <div class="SteeperBtn">
        <button mat-stroked-button matStepperPrevious>{{'ATRÁS'}}</button>
        <button mat-raised-button class="ml-2" color="primary" (click)="onSetRecomended()"
          matStepperNext>{{'NEXT'}}</button>
      </div>
    </mat-step> -->

    <mat-step>
      <ng-template matStepLabel>{{'HECHO'}}</ng-template>
      <div fxLayout="row" class="py-3 px-2" fxLayoutAlign="center center" fxLayoutGap="gappx">
        <div fxLayout="column" ngClass.gt-md="w-60" ngClass.lt-md="w-100" class="p-3 MsgFinal" fxLayoutAlign="center center"
          fxLayoutGap="gappx">
          <span class="mat-title mb-0"
            style="font-size: 24px;text-align: center;">{{'Usted ha terminado, guarde para activar el producto'}}</span>
        </div>

      </div>

      <div class="SteeperBtn">
        <button mat-stroked-button matStepperPrevious>{{'ATRÁS'}}</button>
        <button mat-raised-button class="ml-2" color="primary" (click)="onSaveProduct()" matStepperNext>{{'GUARDAR'}}</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>



</div>
