<div class="image-front">
  <div class="backgroud-black">
  </div>
  <div class="backdrop-black"></div>
  <div class="search-section">
    <div class="container">
      <div class="card-search">
        <h1>
          Avenger EndGame
        </h1>
        <h4>
          Proximamente en full HD
        </h4>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">

        <button class="mr-2" style="color: black;background-color: #fafafa;" mat-raised-button>
          <mat-icon>
            slideshow
          </mat-icon>
          &nbsp;
          Reproducir
        </button>

        <button class="ml-2" mat-flat-button>
          Mas información
        </button>

      </div>
    </div>
  </div>
</div>

<section class="background-dark color-wite py-4">
  <div class="px-4">
    <h1 class="h1" ngClass.lt-md="text-center">
      Reproduciones recientes
    </h1>
  </div>

  <app-carrusels-videos></app-carrusels-videos>

</section>

<div class="divider"></div>

<section class="background-dark color-wite py-4">
  <div class="px-4">
    <h1 class="h1" ngClass.lt-md="text-center">
      Películas
    </h1>
  </div>

  <app-carrusels-videos></app-carrusels-videos>

</section>

<div class="divider"></div>

<section class="background-dark color-wite py-4">
  <div class="px-4">
    <h1 class="h1" ngClass.lt-md="text-center">
      Series
    </h1>
  </div>

  <app-carrusels-videos></app-carrusels-videos>

</section>

<div class="divider"></div>

<section class="background-dark color-wite py-4">
  <div class="px-4">
    <h1 class="h1" ngClass.lt-md="text-center">
      Documentales
    </h1>
  </div>

  <app-carrusels-videos></app-carrusels-videos>

</section>

<div class="divider"></div>

<section class="background-dark color-wite py-4">
  <div class="px-4">
    <h1 class="h1" ngClass.lt-md="text-center">
      Animes y dibujos animados
    </h1>
  </div>

  <app-carrusels-videos></app-carrusels-videos>

</section>

<div class="divider"></div>
