@import "../../../../assets/scss/theme/variables";

.image-front {
  height: 600px;
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/images/front-main-image.jpg');
  background-size: cover;
}

.backgroud-black {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  height: 600px;
  width: 100%;
  z-index: 2;
}

.backdrop-black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  opacity: .4;
  height: 600px;
  width: 100%;
  z-index: 3;
}

.search-section {
  top: 0;
  left: 0;
  z-index: 15;
  color: #fff;
  position: absolute;
  margin-top: 8rem;
  width: 100%;
  box-sizing: border-box !important;

  .card-search {
    max-width: 50rem;

    h1 {
      font-size: 4rem;
      line-height: 2.5rem;
      font-weight: 500;
    }

    h4 {
      font-size: 2.5rem;
      line-height: 3.0rem;
    }



  }
}

@media (max-width:800px) {
  .search-section {
    padding: 30px 0px;

    .card-search {

      h1 {
        font-size: 1.525rem;
        line-height: 1.8rem;
        font-weight: 500;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.1rem;
      }

    }
  }

}

.background-dark {
  background-color: #000;
}

// background-color: $theme-accent;

.color-wite {
  color: #fff;
}


h1 {
  font-size: 1.825rem;
  line-height: 1.8rem;
  font-weight: 500;

  @media (max-width:800px) {
    font-size: 1.525rem;
    line-height: 1.8rem;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;

  @media (max-width:800px) {
    font-size: 1.125rem;
    line-height: 1.1rem;
  }
}

.image-section {
  height: 360px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.video-play {
  height: 200px;
  max-width: 480px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 70px;
}

.text-center {
  text-align: center !important;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: $theme-accent;
}

.input-serch {
  height: 58px;
  width: 30rem;
  padding: 0px 8px;
  font-size: 17px;
}
