<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{'Adicionar marca'}}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{'Editar marca'}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <div fxLayout="row" fxLayoutAlign="center center" class="ImageLayout">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
            <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
              style="background-size: cover; background-position : center center; flex: none;"
              [style.background-image]="this.utilsService.getSafeImage(imageBrand)">
              <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
              <mat-icon class="avatar-icon">backup</mat-icon>

              <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <mat-error *ngIf="showErrorImage">
              La imagen sobrepasa los <strong>500 Kb</strong>
            </mat-error>
            <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
          </div>
        </div>

        <!-- <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'Select your creation language'}}
            <mat-icon matTooltip="{{'Default is Spanish'}}" class="iconHelp">help</mat-icon></span>
        </div> -->

        <!-- <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label> {{'Language'}}</mat-label>
            <mat-select [compareWith]="compareFn" required [formControl]="languageForm"
              placeholder="{{'Language'}}">
              <mat-option *ngFor="let language of this.languages;let i=index" [value]="language">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img [src]="language.image" style="height: 30px; width: 30px;">
                  <span class="ml-2 mat-body-2">
                    {{language.name}}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider class="mb-2"></mat-divider> -->

        <mat-form-field appearance="outline">
          <mat-label>{{'Nombre'}}</mat-label>
          <input type="text" [formControl]="form.controls['name']" matInput placeholder="{{'Nombre'}}">
          <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            {{'Name'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>{{'Model'}}</mat-label>
          <input type="text" [formControl]="form.controls['model']" matInput placeholder="{{'Model'}}">
          <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
          <mat-error *ngIf="form.controls['model'].hasError('required')">
            {{'Model'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>{{'Decripción'}}</mat-label>
          <textarea rows="3" matInput [formControl]="form.controls['description']"
            placeholder="{{'Decripción'}}"></textarea>
          <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
          <mat-error *ngIf="form.controls['description'].hasError('required')">
            {{'Decripción'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field>

      </div>

    </form>




  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid " color="primary">{{'Guardar'}}</button>

  </div>

</div>
