<div *ngIf="this.loadingSearch" class="loading-shade-full">
  <mat-spinner *ngIf="this.loadingSearch" diameter="60" color="primary"></mat-spinner>
</div>
<div class="container">
  <div fxLayout="row" ngClass.gt-sm="mt-4" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1">
    <span fxHide.xs class="mat-title mb-0">{{'Lista de integrantes del equipo'}}</span>
    <span fxHide fxShow.xs class="mat-title mb-0">{{'Equipo'}}</span>
    <div>
      <select style="width: 195px !important;" (change)="onChangeSorting($event.target.value)">
        <option value="name">{{"Alfabético, A-Z"}}</option>
        <option value="-name">{{"Alfabético, Z-A"}}</option>
        <option value="title">{{"Cargo, Dec"}}</option>
        <option value="-title">{{"Cargo, Asc"}}</option>
      </select>

    </div>
  </div>

  <div *ngIf="ourTeamArray.length" fxLayout="row wrap" class="w-100 py-2" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center start"
    fxLayoutGap="gappx">
    <mat-card *ngFor="let worker of ourTeamArray" class="product-card">
      <mat-card-header>
        <mat-card-title>{{worker.name}}</mat-card-title>
        <mat-card-subtitle>{{worker.title}}
        </mat-card-subtitle>
      </mat-card-header>
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <img class="imageProduct" appLazyLoad *ngIf="worker.image" [src]="imageUrl + worker.image" alt="">
        <img class="imageProduct" appLazyLoad *ngIf="!(worker.image)" src="../../../../../assets/images/users/profile2.png" alt="">
      </div>

      <mat-card-content>
        <p class="module line-clamp mt-3">
          {{worker.description}}
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <button matTooltip="{{'Editar integrante del equipo'}}" (click)="this.onEditOurTeam(worker.id)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="{{'Eliminar integrante del equipo'}}" (click)="onDeleteMember(worker)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!ourTeamArray.length" style="padding:32px 0px" fxLayout="column" fxLayoutAlign="center center">

    <img src="../../../../../assets/images/empty.svg" alt="Empty" style="height: 160px; width: 160px;">
    <h1 class="text-muted mt-3">
      Tu lista de integrantes del equipo de trabajo está vacía
    </h1>

  </div>

</div>

<a [routerLink]="[ '/backend/our-team/create']" id="AddBtn" mat-fab color="primary">
  <mat-icon>
    add
  </mat-icon>
</a>
