@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";
@import '~@angular/material/theming';


app-our-team-list {

  padding: 16px 0px;

  @include media-breakpoint("xs") {
    padding: 16px 0px !important;
  }

  mat-toolbar-row {
    background-color: transparent !important;
  }

  mat-toolbar {
    background-color: transparent !important;
  }

  select {
    /* margin: 50px; */
    width: 180px;
    max-width: 220px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: none;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;

    cursor: pointer;
    background: url(/assets/images/dropdown.png) no-repeat 90%;
  }

  .product-card {
    width: 300px;
    transition: .5s;
    margin: 16px;

    &:hover {
      transform: translateY(-10px);
    }

    &:hover::before {
      opacity: 1;
      width: 100%;
      height: 50%;
    }

    @include media-breakpoint("lt-md") {
      width: 280px;
    }

  }

  .product-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    opacity: 0;
    border-left: 2px solid $theme-main;
    height: 50px;
    border-bottom: 2px solid $theme-main;
    transition: 0.5s;
  }

  .imageProduct {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: auto !important;
  }

  .module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }

  .line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    line-height: 1.6rem;
    height: 3.2rem;
  }

  #AddBtn {
    position: fixed;
    right: 32px;
    bottom: 32px;

    @include media-breakpoint("lt-md") {
      right: 16px;
      bottom: 16px;
    }

  }
}
