@import '../../../../assets/scss/theme/variables';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: $theme-main;
    color: #fff;
    border-radius: 24px;
    transition: border-radius .7s ease;

    .mat-badge-content {
      color: #333333 !important;
      background: $theme-accent !important;
    }

    mat-icon {
      color: #fff;
    }


  }

  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      border-radius: 16px;
      transition: border-radius .7s ease;
    }
  }

}


.mat-list-item {
  padding: 8px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  width: auto;
  color: #fff;

  .mat-badge-content {
    color: #fff !important;
    background: $theme-accent !important;
  }


  .routeIcon {
    margin-right: 30px;
  }
}

.menu-icons {
  font-size: 18px !important;

  mat-icon {
    color: #fff;
    margin: 0px !important;
  }

}
