app-recomended-products {
  padding: 10px 0px;

  .example-chip-list {
    width: 100%;
  }



  #ChipContainer {
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 .75em 0 .75em;
      margin-top: -.25em;
      position: relative;
      min-height: 100px !important;
    }

  }


  .imageContent {
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    width: 40px;

    .carAvatar {
      height: 100% !important;
      max-width: 100% !important;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.40);
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .car-chip {
    mat-chip {
      height: 32px !important;
    }
  }

  .mat-chip.mat-standard-chip {
    height: 50px !important;
    padding-left: 4px !important;
  }

  .example-full-width {
    width: 100%;
  }

  .example-option-img {
    vertical-align: middle;
  }
}
