@import "../../../assets/scss/theme/variables";

.image-front {
  height: 750px;
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/front-main-image.jpg');
  background-size: cover;
}

.backgroud-black {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  height: 750px;
  width: 100%;
  z-index: 2;
}

.backdrop-black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  opacity: .4;
  height: 750px;
  width: 100%;
  z-index: 3;
}

.header {
  top: 0;
  left: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
  min-height: 64px;
  padding: 4px 8px;

  .header-content {
    max-width: 1280px;
    margin: 0px auto;

  }

  .logo {
    height: 105px;
    width: auto;
  }
}

.search-section {
  top: 0;
  left: 0;
  padding: 30px 30px;
  z-index: 15;
  color: #fff;
  position: absolute;
  margin-top: 10rem;
  width: 100%;
  box-sizing: border-box !important;

  .card-search {
    margin: auto;
    max-width: 50rem;

    h1 {
      font-size: 3.125rem;
      line-height: 3.8rem;
      font-weight: 500;
    }

    h4 {
      font-size: 2.125rem;
      line-height: 2.0rem;
    }

    input {
      height: 58px;
      width: 30rem;
      padding: 0px 8px;
      font-size: 17px;

    }


  }
}

@media (max-width:800px) {
  .header {
    .logo {
      height: 70px;
      width: auto;
    }
  }



  .search-section {
    padding: 30px 0px;

    .card-search {

      h1 {
        font-size: 1.525rem;
        line-height: 1.8rem;
        font-weight: 500;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.1rem;
      }

    }
  }

  .video-play {
    max-width: 100% !important;
  }

}

.background-dark {
  background-color: #000;
}

// background-color: $theme-accent;

.color-wite {
  color: #fff;
}


h1 {
  font-size: 2.125rem;
  line-height: 2.8rem;
  font-weight: 500;

  @media (max-width:800px) {
    font-size: 1.525rem;
    line-height: 1.8rem;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;

  @media (max-width:800px) {
    font-size: 1.125rem;
    line-height: 1.1rem;
  }
}

.image-section {
  height: 360px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.video-play {
  height: 200px;
  max-width: 480px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 70px;
}

.text-center {
  text-align: center !important;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: $theme-accent;
}

.input-serch {
  height: 58px;
  width: 30rem;
  padding: 0px 8px;
  font-size: 17px;
}
