<div class="image-front">
  <div class="backgroud-black">
  </div>
  <div class="backdrop-black"></div>

  <div class="header">
    <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
      <img class="logo" src="../../../assets/images/nexflix-logo-removebg-preview.png" />
      <div>
        <a mat-flat-button color="primary" [routerLink]="[ '/auth' ]">Iniciar sesión</a>
      </div>
    </div>
  </div>

  <div class="search-section">
    <div class="container">
      <div class="card-search">
        <h1 style="text-align: center;">
          Programas y películas sin límite y mucho más.
        </h1>
        <h4 style="text-align: center;">
          Desarrolla tu propia aplicación de Streaming like Netfilx con Angular 9.
        </h4>
        <div fxLayout="row wrap" class="mt-4" fxLayoutAlign="center center" fxLayoutGap="gappx">
          <input type="text" placeholder="Email" /> <button ngClass.lt-md="my-3" style="height: 62px !important;" mat-raised-button
            color="primary">
            <span class="m-0 p-3 mat-title">Probar Ahora</span>
          </button>
        </div>
        <p style="text-align: center;" class="py-2">
          ¿Quieres ver Cuflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Cuflix.
        </p>
      </div>
    </div>
  </div>

</div>


<div class="divider"></div>
<section class="background-dark color-wite py-3">
  <div class="container" style="min-height: 20rem;">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="gappx">

      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center">
        <h1 class="h1" ngClass.lt-md="text-center">
          Disfruta en tu TV.
        </h1>
        <h4 class="h4" ngClass.lt-md="text-center">
          Ve en smart TV, PlayStation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.
        </h4>
      </div>

      <div style="position: relative;" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center">
        <img class="image-section" src="../../../assets/images/image-section-1.png">
        <video class="video-play" autoplay="true" playsinline="" muted="false" loop="true">
          <source src="../../../assets/videos/video-section-1.m4v" type="video/mp4"></video>
      </div>
    </div>
  </div>
</section>
<div class="divider"></div>

<section class="background-dark color-wite py-3">
  <div class="container" style="min-height: 20rem;">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="gappx">

      <div style="position: relative;" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center">
        <img class="image-section" src="../../../assets/images/image-section-2.png">
      </div>

      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center">
        <h1 class="h1" ngClass.lt-md="text-center">
          Descarga tus series para verlas offline.
        </h1>
        <h4 class="h4" ngClass.lt-md="text-center">
          Guarda tu contenido favorito y ten siempre algo que ver.
        </h4>
      </div>
    </div>

  </div>
</section>

<div class="divider"></div>
<section class="background-dark color-wite py-3">
  <div class="container" style="min-height: 20rem;">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="gappx">

      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center start">
        <h1 class="h1" ngClass.lt-md="text-center">
          Disfruta donde quieras.
        </h1>
        <h4 class="h4" ngClass.lt-md="text-center">
          Películas y programas ilimitados en tu teléfono, tablet, computadora y TV sin costo extra.
        </h4>
      </div>

      <div style="position: relative;" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center">
        <img class="image-section" src="../../../assets/images/image-section-3.png">
        <video class="video-play" style="height: 164px !important; top: 42px;" autoplay="true" playsinline="" muted="false" loop="true">
          <source src="../../../assets/videos/video-section-2.m4v" type="video/mp4"></video>
      </div>


    </div>

  </div>
</section>
<div class="divider"></div>

<section class="background-dark color-wite py-3">
  <div class="container">
    <h1 class="h1 text-center">
      Preguntas frecuentes
    </h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
      <mat-accordion>
        <mat-expansion-panel style="max-width: 750px !important; margin-bottom: 8px !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 class="h4 m-0" ngClass.lt-md="text-center">
                ¿Qué es Cutflix?
              </h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores sint aut excepturi unde, repudiandae non labore odit magni
            animi dolorem ullam facilis iste tempora illum. Voluptates non nemo quaerat!
          </p>

        </mat-expansion-panel>
        <mat-expansion-panel style="max-width: 750px !important; margin-bottom: 8px !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 class="h4 m-0" ngClass.lt-md="text-center">
                ¿Cuanto cuesta?
              </h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores sint aut excepturi unde, repudiandae non labore odit magni
            animi dolorem ullam facilis iste tempora illum. Voluptates non nemo quaerat!
          </p>

        </mat-expansion-panel>
        <mat-expansion-panel style="max-width: 750px !important; margin-bottom: 8px !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 class="h4 m-0" ngClass.lt-md="text-center">
                ¿Donde puedo ver Cuflix?
              </h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores sint aut excepturi unde, repudiandae non labore odit magni
            animi dolorem ullam facilis iste tempora illum. Voluptates non nemo quaerat!
          </p>

        </mat-expansion-panel>
        <mat-expansion-panel style="max-width: 750px !important; margin-bottom: 8px !important;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 class="h4 m-0" ngClass.lt-md="text-center">
                ¿Como cancelo?
              </h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores sint aut excepturi unde, repudiandae non labore odit magni
            animi dolorem ullam facilis iste tempora illum. Voluptates non nemo quaerat!
          </p>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div fxLayout="row wrap" class="mt-4" fxLayoutAlign="center center" fxLayoutGap="gappx">
      <input class="input-serch" type="text" placeholder="Email" /> <button ngClass.lt-md="my-3" style="height: 62px !important;"
        mat-raised-button color="primary">
        <span class="m-0 p-3 mat-title">Probar Ahora</span>
      </button>
    </div>
    <p style="text-align: center;" class="py-2">
      ¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.
    </p>


  </div>

</section>
<div class="divider"></div>
<app-footer-two></app-footer-two>
