<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{'Adicionar servicio'}}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{'Editar servicio'}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
          <div fxLayout="row" class="my-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2" style="text-transform: uppercase;">{{'Seleccione una imagen para el servicio'}}
            </span>
          </div>

          <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
            style="background-size: cover; background-position : center center; flex: none;"
            [style.background-image]="this.utilsService.getSafeImage(imageService)">
            <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
              <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                photo_camera
              </mat-icon>
            </button>
          </div>
          <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
            <mat-icon class="avatar-icon">photo_camera</mat-icon>

            <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
              <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                photo_camera
              </mat-icon>
            </button>
          </div>
          <mat-error *ngIf="showErrorImage">
            La imagen sobrepasa los <strong>1000 Kb</strong>
          </mat-error>
          <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
        </div>

        <div class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Nombre'}}</mat-label>
            <input type="text" [formControl]="form.controls['name']" matInput placeholder="{{'Nombre'}}">
            <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              {{'Nombre'}} <strong>{{'is required'}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Descripción'}}</mat-label>
            <textarea rows="2" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
              [formControl]="form.controls['description']" placeholder="{{'Descripción'}}"></textarea>
            <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
            <mat-error *ngIf="form.controls['description'].hasError('required')">
              {{'Descripción'}} <strong>{{'is required'}}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Ícono'}}</mat-label>
            <input type="text" [formControl]="form.controls['icon']" matInput placeholder="{{'Icon'}}">
            <mat-icon class="greyIcon" matSuffix>search</mat-icon>
            <mat-error *ngIf="form.controls['icon'].hasError('required')">
              {{'Icon'}} <strong>{{'is required'}}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-divider class="mb-2"></mat-divider>

        <div fxLayout="row wrap" class="mt-2" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'Seleccione el ícono para el servicio'}}
            <mat-icon matTooltip="{{'This is a representative icon of the action to be displayed. Its correct selection is important'}}"
              class="iconHelp">help</mat-icon></span>

          <a class="mat-body-2 uppercase" style="color: #2196f3;" href="https://material.io/resources/icons/" target="_blank">
            {{'Vea los íconos de material'}}
            <mat-icon matTooltip="{{'Read about material design icons'}}" class="iconHelp">help</mat-icon>
          </a>
        </div>

        <div class="mt-3" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">

          <div *ngFor="let icon of filteredIcons" class="layoutIcons" (click)="onSelectedIcon(icon)"
            [ngClass]="{'selectedIcon':selectedIcon === icon }" fxFlex="30" fxFlex.sm="30" fxFlex.xs="50" style="height: 70px;"
            fxLayout="column" fxLayoutAlign="center center">
            <mat-icon style="height: 40px;width: 40px; font-size: 32px;">
              {{icon}}
            </mat-icon>
            <span class="mat-body-2 greyIcon">
              {{icon}}
            </span>
          </div>
        </div>

        <div class="py-3" *ngIf="currentIndex < this.arrayIcons.length" fxLayout="row wrap" fxLayoutAlign="center start"
          fxLayoutGap="gappx">
          <button (click)="onLoadMoreIcons()" mat-stroked-button color="accent">{{'Cargar más'}}</button>
        </div>


      </div>

    </form>

  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid" color="primary">{{'GUARDAR'}}</button>
  </div>

</div>
