<!-- <swiper [config]="config">
  <div class="item" *ngFor="let i of  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" style="height: 200px; width: 300px; box-shadow: 1px 2px 1px rgba(0,0,0,.22); margin: 8px; background-color: #fff;
    overflow: hidden;">

  </div>
</swiper> -->
<section style="position: relative;">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let i of  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <img [src]="'../../../../assets/images/movies/' + i + '.jfif'"
          style="width: 100%;height: 100%;object-fit: cover;object-position: center;">

        <div class="backdrop-slide">

          <mat-icon class="playBtn" mat-icon-button color="primary" (click)="onPlay()">play_circle_outline</mat-icon>

          <span class="mat-body-2 title">
            Vikings 8x06: The King of Norwey
          </span>

          <div class="icons" fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="gappx">
            <button mat-icon-button>
              <mat-icon>info</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon>favorite_border</mat-icon>
            </button>

            <button mat-icon-button>
              <mat-icon>cached</mat-icon>
            </button>

          </div>

        </div>
      </div>

    </div>

    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev" (click)="onPrevItem()"></div>
    <div class="swiper-button-next" (click)="onNextItem()"></div>

  </div>

  <div *ngIf="showPreviewState" class="hoverLayout" id="hoverLayout">
    <div class="containerHover">
      <div fxLayout="row" class="mb-3" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
        <span class="mat-title mb-0">Vikings 6x08: The king of Norwey</span>
        <button (click)="onClosePreview()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <video class="video" controls src="../../../../assets/videos/vikings.mkv">

      </video>

      <div fxLayout="row" class="mt-3" fxLayoutAlign="end center" fxLayoutGap="gappx">
        <button mat-icon-button>
          <mat-icon>
            <mat-icon>info</mat-icon>
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>
            <mat-icon>favorite_border</mat-icon>
          </mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>
            <mat-icon>cached</mat-icon>
          </mat-icon>
        </button>

      </div>

    </div>

  </div>

</section>
