app-carrusels-videos {
  // .swiper-container {
  //   margin-left: auto;
  //   margin-right: auto;
  //   position: relative;
  //   overflow: hidden;
  //   list-style: none;
  //   padding: 0;
  //   z-index: 1;
  //   height: 200px !important;
  //   max-height: 250px;
  // }


  .swiper-slide {
    background-color: #fafafa;
    height: 200px;
    width: 300px;
    position: relative;

    @media (max-width:800px) {
      height: 150px !important;
      width: 250px !important;
    }

    box-shadow: 1px 2px 1px rgba(0, 0, 0, .22);
    margin: 8px;
    overflow: hidden;

    .backdrop-slide {
      position: absolute;
      height: 0px;
      overflow-y: hidden;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 20;
      width: 100%;

      .playBtn {
        opacity: 0;
        margin: auto;
        position: absolute;
        top: 34%;
        left: 37%;
        height: 80px;
        width: 80px;
        font-size: 80px;
        cursor: pointer;
      }

      .title {
        opacity: 0;
        margin: auto;
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 17px;
      }

      .icons {
        width: 30px;
        height: 100%;
        margin-left: auto;
        margin-top: auto;
        opacity: 0;
      }
    }

    &:hover {
      border-radius: 4px;
      box-shadow: 1px 1.8px 1.8px #eeeeee;
      transition: all ease .5s;

      .backdrop-slide {
        height: 100%;
        transition: all .35s ease;

        .icons {
          opacity: 1;
        }

        .playBtn {
          opacity: 1;
        }

        .title {
          opacity: 1;
        }
      }
    }
  }

  .hoverLayout {
    width: 100%;
    max-width: 100%;
    z-index: 99999;
    min-height: 400px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: all ease .5s;

    .containerHover {
      position: relative;
      color: white;
      padding: 16px;
      width: 100%;
      height: 100%;
      max-width: 40rem;
      background-color: rgba(0, 0, 0, 0.95);
      margin: 0px auto;
      border-radius: 8px;

      @media (max-width:800px) {
        max-width: 20rem !important;
      }

      .video {
        width: 100%;
        height: auto;

      }

    }

  }

  .swiper-button-prev {
    height: 100% !important;
    width: 70px;
    top: 14% !important;
    left: 0px;

    @media (max-width:800px) {
      width: 40px;
    }

    color: white;

    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%);

    &:hover {
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
      color: white;
      transition: all .5s ease;
    }

  }

  .swiper-button-next {
    height: 100% !important;
    width: 70px;

    @media (max-width:800px) {
      width: 40px;
    }

    top: 14% !important;
    right: 0px;
    color: white;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1) 100%);

    &:hover {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
      color: white;
      transition: all .5s ease;
    }
  }

}
