<div class="container-image">
  <div class="image-background">

    <h1 class="title">
      Upps Conexión perdida !
    </h1>
    <h1 class="subtitle mt-2">
      Hemos detectado que tiene problemas en su conexión.
    </h1>
  </div>

  <h1 class="subtitle" style="margin-top: 50px !important;">
    Compruebe su conexión a internet o contacte a los administradores del servidor.
    <!-- - Quizás el endpoint
    <a [href]="apiUrl" target="_blank">
      {{apiUrl}}
    </a>
    es inalcanzable o su api está caída contacte su administrador de red. -->
  </h1>

  <div class="mt-3" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
    <a class="px-3 py-3" mat-raised-button color="primary" [routerLink]="[ '/']">VOLVER AL INICIO</a>
  </div>

</div>
