.container-image {
  padding: 24px;
  min-height: 100vh;
  position: relative;

  .image-background {
    background-image: url('../../../assets/images/500-error.jpg');
    height: 500px !important;
    width: auto;
    max-width: 100%;
    // position: absolute;

  }

  font-family: 'Poppins',
  sans-serif !important;

  .title {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
  }

  .subtitle {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
  }
}
