<div class="container">
  <div class="blog-list-wrapper sec-padding" fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="100" fxFlex.gt-sm="100">

      <form [formGroup]="form" class="single-blog-list">

        <div fxLayout="row" fxLayoutAlign="start center">
          <span class="mat-title">{{'Selecciona la imagen de tu publicación'}}</span>
        </div>
        <div class="image-box">
          <div fxLayout="row" fxLayoutAlign="start center" class="ImageLayout">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
              <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
                style="background-size: cover; background-position : center center; flex: none;"
                [style.background-image]="this.utilsService.getSafeImage(imageArticle)">
                <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                  <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                    photo_camera
                  </mat-icon>
                </button>
              </div>
              <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
                <mat-icon class="avatar-icon">photo_camera</mat-icon>

                <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
                  <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                    photo_camera
                  </mat-icon>
                </button>
              </div>
              <mat-error *ngIf="showErrorImage">
                La imagen sobrepasa los <strong>1000 Kb</strong>
              </mat-error>
              <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
            </div>
          </div>
        </div>
        <div class="text-box" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span class="mat-title">{{'Seleccione el título de su publicación'}}</span>
          </div>
          <mat-form-field class="text-field" appearance="outline">
            <mat-label>{{'Título'}}</mat-label>
            <input [formControl]="this.form.controls['title']" matInput type="text" placeholder="{{'Título'}}" required>
            <mat-error *ngIf="this.form.controls['title'].invalid">
              {{'Título is invalid'}}
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start center">
            <span class="mat-title">{{'Escribe una pequeña descripción'}}</span>
          </div>
          <mat-form-field class="text-field" appearance="outline">
            <mat-label>{{'Resumen'}}</mat-label>
            <textarea required maxlength="150" [formControl]="this.form.controls['sumarize']" #message placeholder="{{'Resumen'}}" matInput
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4"></textarea>
            <mat-icon matSuffix>edit</mat-icon>
            <mat-hint align="end">{{message.value.length}} / 150</mat-hint>
            <mat-error *ngIf="this.form.controls['sumarize'].invalid">
              {{'Resumen is invalid'}}
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start center">
            <span class="mat-title">{{'Escribe una publicación'}}</span>
          </div>
          <!-- <mat-form-field appearance="outline">
              <mat-label>{{'Publicación'}}</mat-label>
              <textarea required [formControl]="this.form.controls['text']" #message placeholder="{{'Post'}}" matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="8"></textarea>
              <mat-icon matSuffix>edit</mat-icon>
              <mat-hint align="end">{{message.value.length}} / 1024</mat-hint>
              <mat-error *ngIf="this.form.controls['text'].invalid">
                {{'Text is invalid'}}
              </mat-error>
            </mat-form-field> -->


          <ckeditor [(ngModel)]="text" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig" debounce="500"
            (paste)="onPaste($event)" (change)="onChange($event)" [ngModelOptions]="{standalone: true}">
          </ckeditor>

          <div fxLayout="row" fxLayoutAlign="start center">
            <span class="mat-title mt-3">{{'Añade algunas etiquetas'}}</span>
          </div>

          <app-list-tags-blog [language]="language" [blogId]="null" [tags]="[]" ($changeTags)="onChangeTags($event)">
          </app-list-tags-blog>

          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2" style="text-transform: uppercase;">{{'Ingrese un enlace para referir'}}
              <mat-icon
                matTooltip="{{'Es un enlace al que le gustaría referirse en caso de un anuncio u otra página para visitar, es opcional'}}"
                class="iconHelp">help</mat-icon></span>
          </div>

          <mat-form-field class="text-field" appearance="outline">
            <mat-label>{{'Hipérvinculo'}}
            </mat-label>
            <input type="text" [formControl]="form.controls['link']" matInput placeholder="{{'Link'}}">
            <mat-icon class="greyIcon" matSuffix>link</mat-icon>
            <mat-error *ngIf="form.controls['link'].hasError('pattern')">
              {{'Url'}} <strong>{{'is not valid'}}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
          <button mat-flat-button class="px-4" color="primary" [disabled]="this.form.invalid || !imageArticle"
            (click)="onCreatePublication()">{{'CREAR'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
