@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";

app-edit-product {
  padding: 16px 0px;

  .LayoutTabs {
    background-color: #fff;
    padding: 16px;
    border: solid 1.3px rgba(0, 0, 0, 0.22);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .mat-tab-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .mat-tab-list {
    flex-grow: 1;
    position: relative;
    transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    height: 64px;
  }

  // .mat-tab-label {
  //   height: 64px;
  //   padding: 0 24px;
  //   cursor: pointer;
  //   box-sizing: border-box;
  //   opacity: .6;
  //   min-width: 160px;
  //   text-align: center;
  //   display: inline-flex;
  //   justify-content: center;
  //   align-items: center;
  //   white-space: nowrap;
  //   position: relative;
  // }

  // .mat-tab-group.mat-primary .mat-ink-bar,
  // .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  //   background-color: $theme-main-dark !important;
  // }

  .SteeperLayout {
    margin-left: 8% !important;
    overflow: auto;
    max-height: 76vh;

    @include media-breakpoint('lt-sm') {
      margin-left: 0px !important;
    }
  }

  .CustomMat {
    width: 73%;

    @include media-breakpoint('lt-md') {
      width: 100%;
    }

    @include media-breakpoint('xs') {
      width: 100% !important;
    }
  }

  .iconHelp {
    font-size: 14px;
    color: $grey4;
    width: 14px;
    height: 14px;
  }

  .w-73 {
    width: 73% !important;
  }

  .listItem {
    .iconDelete {
      position: absolute;
      bottom: 25%;
      opacity: 0.0;
      right: 18px;

      @include media-breakpoint('lt-lg') {
        opacity: 1.0 !important;
      }
    }

    .addIcon {
      position: absolute;
      bottom: 50%;
      opacity: 0.0;
      right: 18px;

      @include media-breakpoint('lt-lg') {
        opacity: 1.0 !important;
      }
    }

    margin-top: 16px !important;

    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .12);

    &:hover {
      // background-color: #fafafa;
      border: 1px solid rgba(0, 0, 0, .60);
      transition: all .5s ease;

      .iconDelete {
        opacity: 1.0;
        transition: opacity .25s ease;
      }

      .addIcon {
        opacity: 1.0;
        transition: opacity .25s ease;
      }
    }
  }

}
