<div class="container">
  <mat-tab-group color="accent" backgroundColor="primary">
    <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        <span class="mat-body-2 mx-2" color="primary">{{'INFO. BÁSICA'}}</span>
      </ng-template>

      <ng-template matTabContent>
        <div class="LayoutTabs" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">

          <form [formGroup]="this.BasicInfo">
            <div fxLayout="column" class="SteeperLayout" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 uppercase">{{'Nombre del producto'}}</span>
              </div>

              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline">
                  <mat-label>{{'Nombre'}}</mat-label>
                  <input matInput placeholder="{{'Nombre'}}" [formControl]="this.BasicInfo.controls['name']">
                  <mat-icon class="greyIcon" matSuffix>add_shopping_cart</mat-icon>
                  <mat-error *ngIf="BasicInfo.controls['name'].hasError('required')">
                    {{'Nombre'}} <strong>{{'is required'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 uppercase">{{'Describe el producto'}}</span>
              </div>

              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline" appearance="outline">
                  <mat-label>{{'Descripción'}}</mat-label>
                  <textarea rows="5" matInput [formControl]="BasicInfo.controls['description']" placeholder="{{'Descripción'}}"></textarea>
                  <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
                  <mat-error *ngIf="BasicInfo.controls['description'].hasError('required')">
                    {{'Descripción'}} <strong>{{'is required'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 uppercase">{{'Seleccione la marca del producto'}}</span>
              </div>

              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline">
                  <mat-label> {{'Marca'}}</mat-label>
                  <mat-select [formControl]="this.BasicInfo.controls['BrandId']" placeholder="{{'Marca'}}">
                    <mat-option *ngFor="let brand of this.Brands;let i=index" [value]="brand.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <img *ngIf="brand.image" [src]="imageUrl + brand.image" style="width: auto;height:32px" alt="">
                        <span style=" text-transform:capitalize !important; margin-left:16px !important;">
                          {{(brand.name)}}
                        </span>
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 uppercase">{{'Seleccione las categorías a las que pertenece'}}</span>
              </div>

              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" appearance="outline">
                  <mat-label> {{'Categoría'}}</mat-label>
                  <mat-select multiple [formControl]="this.BasicInfo.controls['CategoryIds']" placeholder="{{'Categoría'}}">
                    <mat-option *ngFor="let category of this.Categories;let i=index" [value]="category.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span style=" text-transform:capitalize !important; ">
                          {{(category.name)}}
                        </span>
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-divider class="mt-2 w-60" ngClass.lt-md="w-80" ngClass.xs="w-100"></mat-divider>

              <div fxLayout="row wrap" class="mt-2 w-100" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
                <div fxLayout="column" fxFlex="60" fxFlex.lt-md="80" fxFlex.xs="100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
                  <span class="mat-body-2 mb-2" style="text-transform: uppercase;">{{'Precio regular'}}
                    <mat-icon matTooltip="{{'Item’s normal/regular price'}}" class="iconHelp">help</mat-icon>
                  </span>
                  <mat-form-field appearance="outline">
                    <mat-label>{{'precio'}}</mat-label>
                    <input type="number" step=0.01 matInput placeholder="{{'price'}}" [formControl]="BasicInfo.controls['price']">
                    <mat-icon class="greyIcon" matSuffix>attach_money</mat-icon>
                    <mat-error *ngIf="BasicInfo.controls['price'].hasError('required')">
                      {{'Regular price'}} <strong>{{'is required'}}</strong>
                    </mat-error>
                  </mat-form-field>

                </div>

              </div>
              <div fxLayout="row" class="w-60 mt-3" ngClass.lt-md="w-80" ngClass.xs="w-100" fxLayoutAlign="end center" fxLayoutGap="gappx">
                <button [disabled]="this.BasicInfo.invalid" (click)="onSaveBasicProduct()" mat-raised-button
                  color="primary">{{'GUARDAR'}}</button>
              </div>


            </div>

          </form>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">image</mat-icon>
        <span class="mat-body-2 mx-2 uppercase" color="primary">{{'IMágenes'}}</span>
      </ng-template>

      <ng-template matTabContent>
        <div class="LayoutTabs" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
          <app-galery-images-product [ProductId]="(selectedProduct)?selectedProduct.id:null">
          </app-galery-images-product>
        </div>
      </ng-template>

    </mat-tab>


  </mat-tab-group>

</div>
