<div class="image-front">
  <div class="backgroud-black">
  </div>
  <div class="backdrop-black"></div>

  <div class="header">
    <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
      <img class="logo" src="../../../assets/images/nexflix-logo-removebg-preview.png" />
    </div>
  </div>

  <div class="login-section">
    <div class="container">
      <div class="card-login">
        <div class="card-form-login">
          <h1 style="text-align: left;">
            Regístrese
          </h1>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
            <mat-form-field class="mt-2" appearance="outline">
              <mat-label>Nombre completo</mat-label>
              <input matInput placeholder="Nombre completo" [formControl]="form.controls['fullName']">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="this.form.controls['fullName'].invalid">
                {{'El nombre es'}} <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="example@gmail.com" [formControl]="form.controls['email']">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="this.form.controls['email'].invalid">
                {{'El email es'}} <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input type="text" matInput placeholder="example username" [formControl]="form.controls['username']">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="this.form.controls['username'].invalid">
                {{'El nombre de ususario es'}} <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input [type]="this.passwordType" matInput placeholder="Contraseña" [formControl]="form.controls['password']" name="password">

              <mat-icon style="cursor: pointer;" *ngIf="this.passwordType == 'password'" mat-icon-button matSuffix
                (click)="this.passwordType = 'text'">visibility
              </mat-icon>

              <mat-icon style="cursor: pointer;" *ngIf="this.passwordType == 'text'" mat-icon-button matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
              <mat-error *ngIf="this.form.controls['password'].invalid">
                {{'La contraseña es'}} <strong>requerido</strong>
              </mat-error>

            </mat-form-field>

            <button mat-stroked-button color="primary">REGISTRARSE
            </button>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="divider"></div>
<app-footer></app-footer>
