@import "../../../assets/scss/theme/variables";

.image-front {
  height: 95vh;
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/front-main-image.jpg');
  background-size: cover;
}

.backgroud-black {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  height: 95vh;
  width: 100%;
  z-index: 2;
}

.backdrop-black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  opacity: .4;
  height: 95vh;
  width: 100%;
  z-index: 3;
}

.header {
  top: 0;
  left: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
  min-height: 64px;
  padding: 4px 8px;

  .header-content {
    max-width: 1280px;
    margin: 0px auto;

  }

  .logo {
    height: 105px;
    width: auto;
  }
}

.login-section {
  top: 0;
  left: 0;
  padding: 30px 30px;
  z-index: 15;
  color: #fff;
  position: absolute;
  margin-top: 5rem;
  width: 100%;
  box-sizing: border-box !important;

  .card-login {
    margin: auto;
    max-width: 50rem;

    h1 {
      font-size: 24px;
      line-height: 1.8rem;
      font-weight: 500;
    }

  }
}

@media (max-width:800px) {
  .header {
    .logo {
      height: 70px;
      width: auto;
    }
  }

  .login-section {
    padding: 30px 0px;

    .card-login {

      h1 {
        font-size: 1.525rem;
        line-height: 1.8rem;
        font-weight: 500;

      }
    }
  }
}

.background-dark {
  background-color: #000;
}

// background-color: $theme-accent;

.color-wite {
  color: #fff;
}


.text-center {
  text-align: center !important;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: $theme-accent;
}

.input-serch {
  height: 58px;
  width: 30rem;
  padding: 0px 8px;
  font-size: 17px;
}

.card-form-login {
  margin: auto;
  max-width: 20rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.80);
  z-index: 20;
  // min-height: 480px;
  padding: 32px;

  @media (max-width:1200px) {
    padding: 24px;
  }

  @media (max-width:480px) {
    padding: 24px;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}
