<div class="image-front">
  <div class="backgroud-black">
  </div>
  <div class="backdrop-black"></div>

  <div class="header">
    <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
      <img class="logo" src="../../../assets/images/nexflix-logo-removebg-preview.png" />
    </div>
  </div>

  <div class="login-section">
    <div class="container">
      <div class="card-login">
        <div class="card-form-login">
          <h1 style="text-align: left;">
            Inicia sesión
          </h1>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
            <mat-form-field class="mt-2" appearance="outline">
              <mat-label>Nombre de Usuario</mat-label>
              <input matInput placeholder="Nombre de Usuario" autocomplete="on" #username [formControl]="loginForm.controls['username']"
                name="username">
              <mat-error *ngIf="this.loginForm.controls['username'].invalid">
                {{'El nombre de usuario es'}} <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input [type]="this.passwordType" matInput placeholder="Contraseña" #pass [formControl]="loginForm.controls['password']"
                name="password">

              <mat-icon style="cursor: pointer;" *ngIf="this.passwordType == 'password'" mat-icon-button matSuffix
                (click)="this.passwordType = 'text'">visibility
              </mat-icon>

              <mat-icon style="cursor: pointer;" *ngIf="this.passwordType == 'text'" mat-icon-button matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
              <mat-error *ngIf="this.loginForm.controls['password'].invalid">
                {{'La contraseña es'}} <strong>requerido</strong>
              </mat-error>

            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="loginForm.invalid || this.inLoading"
              (click)="login(loginForm.controls['username'].value, loginForm.controls['password'].value)"
              class="cf-margin-top-20 example-full-width">INICIAR SESIÓN
            </button>

            <p class="py-2">
              <a href="#">Olvidé la contraseña?</a>
            </p>


            <a [routerLink]="[ 'register' ]" mat-stroked-button color="primary">REGISTRARME
            </a>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="divider"></div>
<app-footer></app-footer>
