<div *ngIf="this.loadingSearch" class="loading-shade-full">
  <mat-spinner *ngIf="this.loadingSearch" diameter="60" color="primary"></mat-spinner>
</div>

<div class="blog-list">
  <div class="paddingFull">
    <div fxLayout="column" fxLayoutAlign.gt-sm="start stretch" fxLayoutAlign.lt-md="start start" class="blog-list-wrapper sec-padding">
      <ng-container *ngIf="blogArray.length">
        <div *ngFor="let item of blogArray" class="main-blog-panel">
          <div class="single-blog-list" fxLayout="row" fxLayoutAlign="center start">
            <mat-card class="w-100" style="max-width: 900px !important;">
              <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutAlign="start stretch" fxLayoutGap=" gappx">
                  <div fxFlex="100" fxFlex.gt-sm="50" class="image-box">
                    <a><img appLazyLoad [src]="imageUrl + item.image" alt=""> </a>
                  </div>
                  <div class="text-box">

                    <h2 class="my-3"> {{item.title}}</h2>

                    <ul fxLayout="row">
                      <li><i class="material-icons">access_time </i>{{item.createdAt | date: 'short'}}</li>
                      <li><i class="material-icons">person </i>{{item.Creator.name +' '+ item.Creator.lastName}}</li>
                      <!-- <li><i class="material-icons">sms</i>05 Comments</li> -->
                    </ul>
                    <p *ngIf="!item.expandable">{{item.sumarize}}</p>

                    <div [id]="'expandibleDetails'+item.id" class="hidden-details">
                      <div [id]="'textContent'+item.id" style="word-wrap: break-word !important;font-size: 13px;
                    line-height: 1.6;">

                      </div>

                      <p>
                        <mat-chip-list aria-label="Tags selection">
                          <mat-chip *ngFor="let tag of item.tags">
                            {{tag}}
                          </mat-chip>
                        </mat-chip-list>
                      </p>
                      <p *ngIf="item.link">
                        Link de referencia:
                        <a [href]="item.link" target="_blank">{{item.link}}</a>
                      </p>

                    </div>




                  </div>

                </div>

              </mat-card-content>
              <div id="actionsBtn">
                <button mat-icon-button class="mx-1">
                  <mat-icon (click)="onEditArticle(item.id)">edit</mat-icon>
                </button>
                <button mat-icon-button class="mx-1">
                  <mat-icon (click)="onDeleteArticle(item)">delete</mat-icon>
                </button>
                <button *ngIf="item.expandable" mat-icon-button class="mx-1">
                  <mat-icon (click)="onExpand(item)">keyboard_arrow_up</mat-icon>
                </button>
                <button *ngIf="!item.expandable" mat-icon-button class="mx-1">
                  <mat-icon (click)="onExpand(item)">keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </div>
      </ng-container>

      <div *ngIf="!blogArray.length" style="padding:32px 0px" fxLayout="column" fxLayoutAlign="center center">

        <img src="../../../../../assets/images/empty.svg" alt="Empty" style="height: 160px; width: 160px;">
        <h1 class="text-muted mt-3">
          No tienes ninguna publicación aún.
        </h1>

      </div>
    </div>
    <div fxLayout="row" *ngIf="this.query.offset < this.query.total" class="py-3" fxLayoutAlign="center center">
      <button (click)="onGetMore()" *ngIf="this.query.offset < this.query.total" mat-stroked-button class="px-4"
        color="accent">{{'LOAD MORE...'}}</button>
    </div>
  </div>
</div>

<a [routerLink]="[ '/backend/blog/create']" id="AddBtn" mat-fab color="primary">
  <mat-icon>
    add
  </mat-icon>
</a>
