@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";


.blog-list-wrapper {
  .single-blog-list {
    margin-bottom: 80px;
    width: 100% !important;

    .image-box {
      overflow: hidden;
      padding-right: 10px;

      img {
        max-height: 450px;
        width: auto;
        object-fit: cover;
        object-position: center;
      }

      ////////////////////////////////////////////////
      .hide-style {
        display: none;
      }

      .avatar-profile {
        position: relative;
        height: 360px;
        width: 360px;

        @include media-breakpoint('lt-md') {
          height: 220px;
          width: 250px;
        }

        border-radius: 4px;
        flex: none !important;
        background-color: #f5f5f5;
        color: #bdbdbd;
        border: 2px solid rgba(0, 0, 0, .22) !important;

        .avatar-icon {
          font-size: 150px;
          height: 150px;
          width: 150px;
          color: #bdbdbd;

          @include media-breakpoint('lt-md') {
            font-size: 150px;
            height: 150px;
            width: 150px;
          }

        }

        #photoCameraBtn {
          opacity: 0;

          mat-icon {
            font-size: 30px;
            height: 30px;
            width: 30px;
          }
        }

        &:hover {
          #photoCameraBtn {
            opacity: 1.0;
            transition: opacity .5s ease;
          }
        }

        button {
          position: absolute;
        }
      }

      /////////////////////////////////////////////////
    }

    .text-box {
      padding-top: 16px;
      max-width: 40rem !important;
    }
  }

}
