<div class="container">
  <div class="blog-list-wrapper sec-padding" fxLayout="row" fxLayout.lt-sm="column">
    <form [formGroup]="form" class="single-blog-list">

      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="mat-title">{{'Selecciona la imagen'}}</span>
      </div>
      <div class="image-box">
        <div fxLayout="row" fxLayoutAlign="start center" class="ImageLayout">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
            <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
              style="background-size: cover; background-position : center center; flex: none;"
              [style.background-image]="this.utilsService.getSafeImage(this.imageOurTeam)">
              <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
              <mat-icon class="avatar-icon">photo_camera</mat-icon>

              <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <mat-error *ngIf="showErrorImage">
              La imagen sobrepasa los <strong>1000 Kb</strong>
            </mat-error>
            <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
          </div>
        </div>
      </div>
      <div class="text-box" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline">
          <mat-label>{{'Nombre del integrante'}}</mat-label>
          <input [formControl]="this.form.controls['name']" matInput type="text" placeholder="{{'Nombre del integrante'}}" required>
          <mat-error *ngIf="this.form.controls['name'].invalid">
            {{'Name is invalid'}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'Cargo que ocupa'}}</mat-label>
          <input [formControl]="this.form.controls['title']" matInput type="text" placeholder="{{'Cargo que ocupa'}}" required>
          <mat-error *ngIf="this.form.controls['title'].invalid">
            {{'Cargo que ocupa is invalid'}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'Descripcion'}}</mat-label>
          <textarea [formControl]="this.form.controls['description']" #message placeholder="{{'Descripcion'}}" matInput cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="8"></textarea>
          <mat-icon matSuffix>edit</mat-icon>
          <mat-hint align="end">{{message.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
        <button mat-flat-button class="px-4" color="primary" [disabled]="this.form.invalid || !this.imageOurTeam"
          (click)="onCreateOurTeamMember()">{{'CREAR'}}</button>
      </div>
    </form>
  </div>
</div>
