html,
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  font-family: 'Poppins', Helvetica, sans-serif;

}


@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/helpers/helpers";
@import "./assets/scss/mixins/breakpoints";
// @import '~swiper/dist/css/swiper.min.css';
@import "../node_modules/swiper/css/swiper.min.css";
// Color 1 scss
@import "./assets/scss/color1";

@import "~ngx-toastr/toastr";

// --------Global Styles for the Project-------------- ///

@media only screen and (max-width: 480px) {
  mat-sidenav-content {
    margin-left: 0px !important;
  }

  td.mat-cell:first-child,
  td.mat-footer-cell:first-child,
  th.mat-header-cell:first-child {
    padding-left: 14px !important;
  }

  td.mat-cell:last-child,
  td.mat-footer-cell:last-child,
  th.mat-header-cell:last-child {
    padding-right: 14px !important;
  }

  .fixed {
    .mat-tab-header {
      position: fixed;
      top: 56px !important;
      z-index: 10;
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .responsive_table {
    overflow-x: auto !important;
  }

  .mat-table {
    min-width: 550px;
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shade-full {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.48) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greyIcon {
  color: #616161 !important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-shade-full {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.48) !important;
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconHelp {
  font-size: 14px;
  color: $grey4;
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}

.uppercase {
  text-transform: uppercase !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //background: $grey-400;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.54);
  border-radius: 24px;
}

.bg-light {
  background-color: #f5f5f5 !important
}

.uppercase {
  text-transform: uppercase !important;
}

.tex-align-center {
  text-align: center !important;
}

.tex-align-left {
  text-align: left !important;
}

.underline {
  text-decoration: underline !important;
}

.star-icon {
  color: #ddd !important;
  font-size: 1.5em !important;
  position: relative !important;
}

.star-icon:before {
  color: #ffc107 !important;
  content: attr(data-icon) " " !important;
  position: absolute !important;
  left: 0 !important;
  overflow: hidden !important;
}

.sec-padding {
  padding-top: 30px;
  padding-bottom: 30px;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  width: 100% !important;
}

.cke_top {
  border-radius: 8px !important;
}

.cke_reset {
  border-radius: 8px !important;
}

.cke_bottom {
  border-radius: 8px;
}

.filter-row {
  box-sizing: border-box;
  height: 64px !important;
  padding: 8px 25px;
  background: $gray-lighter;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.text-muted {
  color: $grey !important;
}

.mat-menu-panel {
  min-width: 200px !important;
}
