<div class="container">

  <div fxLayout="row" fxLayoutAlign="start center">
    <span class="mat-title">{{'Select the image of your big promo'}}</span>
  </div>
  <div class="image-box">

    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
      <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
        style="background-size: cover; background-position : center center; flex: none;"
        [style.background-image]="this.utilsService.getSafeImage(imageBigPromo)">
        <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
          <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
            photo_camera
          </mat-icon>
        </button>
      </div>
      <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
        <mat-icon class="avatar-icon">photo_camera</mat-icon>

        <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
          <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
            photo_camera
          </mat-icon>
        </button>
      </div>
      <mat-error *ngIf="showErrorImage">
        La imagen sobrepasa los <strong>1000 Kb</strong>
      </mat-error>
      <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
    </div>

  </div>

  <div fxLayout="row" ngClass.gt-md="pr-3" fxLayoutAlign="end center" fxLayoutGap="gappx">
    <button mat-flat-button class="px-4" color="primary" [disabled]="!imageBigPromo"
      (click)="onSave()">{{'Guardar'}}</button>
  </div>


</div>
