@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";

:host {
  padding-top: 16px;
  padding-bottom: 16px;

}

.image-box {
  overflow: hidden;
  padding-right: 16px;
  padding-left: 16px;

  @include media-breakpoint('lt-md') {
    padding-right: 0px;
    padding-left: 0px;
  }



  img {
    max-height: 450px;
    width: auto;
    object-fit: cover;
    object-position: center;
  }

  ////////////////////////////////////////////////
  .hide-style {
    display: none;
  }

  .avatar-profile {
    position: relative;
    height: 450px;
    width: auto;

    @include media-breakpoint('lt-md') {
      height: 200px;
      // width: 320px;
    }

    border-radius: 4px;
    flex: none !important;
    background-color: #f5f5f5;
    color: #bdbdbd;
    border: 2px solid rgba(0, 0, 0, .22) !important;

    .avatar-icon {
      font-size: 250px;
      height: 250px;
      width: 250px;
      color: #bdbdbd;

      @include media-breakpoint('lt-md') {
        font-size: 150px;
        height: 150px;
        width: 150px;
      }

    }

    #photoCameraBtn {
      opacity: 0;

      mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
      }
    }

    &:hover {
      #photoCameraBtn {
        opacity: 1.0;
        transition: opacity .5s ease;
      }
    }

    button {
      position: absolute;
    }
  }

  /////////////////////////////////////////////////
}
