<footer class="footer-two sec-padding" style="position: relative;">
  <div class="container">
    <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href="index.html"><img
            style="height: 70px;" src="../../../assets/images/nexflix-logo-removebg-preview.png" alt="Awesome Image"></a>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt expedita nam provident odio rem, voluptates doloremque
          neque maxime obcaecati id architecto illum, temporibus reiciendis, impedit veritatis minima suscipit repellat.
        </p>
        <div class="link"><a [href]="'#'">{{'MORE ABOUT US'}}</a> </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5 class="px-3">{{'Pages'}}</h5>
        </div>
        <div class="row">
          <ul class="pl-2">
            <li>
              <a [href]="'#'" routerLinkActive="router-link-active" mat-button class="mat-button w-100"
                style="text-align: left;">{{'About Us'}}</a>

            </li>
            <li><a [routerLink]="['/faq']" routerLinkActive="router-link-active" mat-button class="mat-button w-100"
                style="text-align: left;">{{'FAQ'}}</a></li>
            <li> <a [routerLink]="['/blog']" routerLinkActive="router-link-active" mat-button class="mat-button w-100"
                style="text-align: left;">{{'Our blog'}}</a></li>

            <li> <a [routerLink]="['/term-conditions']" routerLinkActive="router-link-active" mat-button class="mat-button w-100"
                style="text-align: left;">{{'Terms and conditions'}}</a>
            </li>

            <li> <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active" mat-button class="mat-button w-100"
                style="text-align: left;">{{'Sales and cancellation policy'}}</a>
            </li>
            <!-- <li><a href="#">Retirenment Planing</a></li>
            <li><a href="#">Tax Planing</a></li> -->
          </ul>
        </div>
      </div>


      <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
        <div class="title">
          <h5>{{'Contact Us'}}</h5>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-map-marker"></i></div>
          <div class="text">
            <p>
              {{'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cum, voluptatibus est nam quia voluptatem soluta nemo, iste,eum quam veritatis beatae? Dolor recusandae hic voluptas? Obcaecati illo earum magnam.'}}
            </p>
          </div>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <div class="text">
            <p class="m-0">Example Company</p>
            <p class="m-0">+034634298485</p>
          </div>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <div class="text">
            <p class="m-0"><a href="#">example@gmail.com</a></p>
          </div>
        </div>

        <!-- <ul fxLayout="row" class="social">
          <li class="mx-2"><a href="#"><img style="height: 34px;border-radius: 10px;"
                src="../../../../assets/images/social-media/facebook.svg" alt="facebook"></a></li>
          <li class="mx-2"><a href="#"><img style="height: 34px;border-radius: 10px;"
                src="../../../../assets/images/social-media/instagram.svg" alt="instagram"></a></li>
          <li class="mx-2"><a href="#"><img style="height: 34px;border-radius: 10px;"
                src="../../../../assets/images/social-media/gorjeo.svg" alt="gorjeo"></a></li>
          <li class="mx-2"><a href="#"><img style="height: 34px;border-radius: 10px;"
                src="../../../../assets/images/social-media/linkedin.svg" alt="linkedin"></a></li>
        </ul> -->
      </div>






    </div>
  </div>
  <span class="mat-caption"
    style="position: absolute;color: #fff;left: 40%;bottom: 16px;">{{'Powered by Powered by Jose Alejandro Concepcion'}}
    &nbsp; &copy;{{'v'+ version}}</span>
</footer>
