<div class="loading-shade-full" style="background:rgba(0, 0, 0, 0.02) !important;" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
</div>

<div class="container">

  <div fxLayout="row" ngClass.gt-sm="mt-4" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1">
    <span fxHide.xs class="mat-title mb-0">{{'Lista de servicios'}}</span>
    <span fxHide fxShow.xs class="mat-title mb-0">{{'Servicios'}}</span>
    <div>
      <select style="width: 195px !important;" (change)="onChangeSorting($event.target.value)">
        <option value="name">{{"Alfabético, A-Z"}}</option>
        <option value="-name">{{"Alfabético, Z-A"}}</option>
      </select>

    </div>
    <!-- <div>
      <button mat-icon-button>
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>view_module</mat-icon>
      </button>
    </div> -->
  </div>


  <div *ngIf="allServices.length" fxLayout="row wrap" class="w-100 py-2" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center start"
    fxLayoutGap="gappx">
    <mat-card *ngFor="let service of allServices" class="product-card">
      <mat-card-header>
        <mat-card-title>{{service.name}}</mat-card-title>
      </mat-card-header>
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <img class="imageProduct" appLazyLoad *ngIf="service.image" [src]="imageUrl + service.image" alt="">
        <img class="imageProduct" appLazyLoad *ngIf="!(service.image)" src="../../../../../assets/images/users/profile2.png" alt="">
      </div>

      <mat-card-content>
        <p class="module line-clamp mt-3">
          {{service.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="mb-0" fxLayoutAlign="end center">
        <button matTooltip="{{'Editar integrante del equipo'}}" (click)="this.onEditService(service)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="{{'Eliminar integrante del equipo'}}" (click)="onRemoveServices([service])" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
      <div class="icon" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>
          {{service.icon}}
        </mat-icon>
      </div>
    </mat-card>
  </div>
  <div *ngIf="!allServices.length" style="padding:32px 0px" fxLayout="column" fxLayoutAlign="center center">

    <img src="../../../../../assets/images/empty.svg" alt="Empty" style="height: 160px; width: 160px;">
    <h1 class="text-muted mt-3">
      Tu lista de servicios está vacía
    </h1>

  </div>

</div>

<button (click)="onCreateService()" id="AddBtn" mat-fab color="primary">
  <mat-icon>
    add
  </mat-icon>
</button>
